<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.vivo_app.v_care">

    <!-- スリープ中でもブロードキャストを受け取る -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--システム起動時にアプリ起動-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".TimeandAttendance"
            android:label="@string/title_activity_timeand_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AlertDialogshow" />
        <activity android:name=".CalenderMainActivity" />
        <activity android:name=".ChartMain" />
        <activity android:name=".DairyReport">

        </activity>

        <receiver android:name=".TaskAlarmReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </receiver>

    </application>

</manifest>